<%= content_for :main do %>
<div class="row-fluid">
      <div class="span4">
        <p>
          <%= link_to image_tag("notes.png"), categories_path %>
        </p>
        <h2><%= link_to 'Notes', categories_path %></h2>
      </div>
      <div class="span4">
        <p>
           <%= link_to image_tag("tasks.png"), groups_path  %>
        </p>
        <h2><%= link_to 'Tasks', groups_path %></h2>
      </div>
      <div class="span4">
        <p>
            <%= link_to image_tag("events.png"), events_path %>
        </p>
        <h2><%= link_to 'Events', events_path %></h2>
      </div>
    </div>
    <% end %>
