<h2 id="month">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
    </h2>
  <%= calendar_for @events, :year => @date.year, :month => @date.month, :first_day_of_week => 1, html: {class: 'table table-bordered'} do |calendar| %>
    <%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday') %>
    <% calendar.day(:day_method => :started_at) do |date, events| %>

     <%= link_to_function date.day, "add_ev(#{date})" %>
      <ul>
        <% for event in events %>
          <li><%= link_to event.title, event, remote: true %></li>
        <% end %>
      </ul>

    <% end %>
  <% end %>
