<%= simple_form_for(@event, remote: true) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :place %>
  From:
   <div id="datetimepicker1" class="input-append date">
    <%= f.text_field :started_at, data: {format: "dd/MM/yyyy hh:mm:ss"} %>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
  To:
 <div id="datetimepicker2" class="input-append date">
    <%= f.text_field :finished_at, data: {format: "dd/MM/yyyy hh:mm:ss"}  %>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>

  <%= f.select :repeat, Event.repeat.options %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.button :submit %>
<% end %>
